.user-component {
  display: flex;
  justify-content: space-between;
}

.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__sub {
  display: flex;
  align-items: center;
}

.user-component__subtitle {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.user-component__date {
  margin-bottom: 10px;
}

.user-component__warning {
  margin-top: 10px;
  margin-left: 5px;
  text-align: center;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #ff5e4c;
  color: #ff5e4c;
  font-size: 14px;
  font-weight: 600;
}
